table {
    border-collapse: collapse;
    width: 100%;
}

.playerName {
    font-family: "Goudy Old Style", serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px white;
}

th,
td {
    text-align: center;
    padding: 8px;
}

th {
    color: white;
}

.statsHeader {
    font-family: "Goudy Old Style", serif;
    font-weight: bold;
    font-size: 20px;
    color: pink;
}

.statsValue {
    font-family: "Goudy Old Style", serif;
    font-size: 30px;
    color: white;
}

.statsValueCurrentElo {
    font-family: "Goudy Old Style", serif;
    font-weight: bold;
    font-size: 35px;
    color: yellow;
}
